<md-content class="about">
    <md-card class="info">
        <md-card-title>
            <md-card-title-text>
                <md-list flex>
                    <span class="md-headline">Lenguajes de Programación</span>
                    <md-subheader class="md-no-sticky">2º Cuatrimestre 2016</md-subheader>
                    <span class="md-subhead"></span>
                    <span class="md-headline">Docente</span>
                    <md-list-item class="md-2-line">
                        <img src="../../img/user.svg" class="md-avatar" alt="Raúl Hernan Lopez" />
                        <div class="md-list-item-text">
                            <h3>Diana Cicinelli</h3>
                        </div>
                    </md-list-item>
                    <span class="md-headline">Alumno</span>
                    <md-list-item class="md-2-line">
                        <img src="../../img/user.svg" class="md-avatar" alt="Agustin Pivetta" />
                        <div class="md-list-item-text">
                            <h3>Agustin Pivetta</h3>
                            <p>992850</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-title-text>
        </md-card-title>
    </md-card>
</md-content>
